* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.row {
    margin: 0 10px;
    padding: 10px;
}

p {
    font-size: 2em;
    color: black;
    font-family: Arial;
}

#please {
    animation-name: expand;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}

#content {
 animation-name: Bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

#animate {
    animation: posChange 6s infinite;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes expand {

    0% {

        font-size: 2em;
    }

    100% {

        font-size: 5em;
    }
}

@keyframes posChange {
    0% {
        transform: rotate3d(0)
    }

    100% {
        transform: rotate3d(1, 1, 1, 360deg)
    }

@keyframes Bounce
    {    0% {
        transform: translateY(0%);
    }
    100% {
       transform: translateY(100%);
    }}
    
