body {
    background-image: url(../../../assets/imgs/IMG_0902.jpg);
    background-size: 100%;
    font-family: 'Dancing Script', cursive;
    padding-left: 10px;
}

a {
    color: black;
    font-style: italic;
    font-family: 'Gloria Hallelujah', cursive;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-right: 10px;
}

#lineOne {
    color: darkgoldenrod;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;

}

#lineTwo {
    font-size: 50px;
}

#window {
    letter-spacing: 15px;
}

#lineThree {
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    color: lightgray;
    background-color: black;
}

#lineFour {
    color: goldenrod;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    font-weight: bolder;
}

#lineFive {}

#lineSix {
    font-family: 'Gloria Hallelujah', cursive;
}

#lineSeven {
    border: 10px solid white;
    width: 400px;
    letter-spacing: 12px;
}

#lineEight {
    color: brown;
    filter: sepia(80%);
    font-size: 30px;
}

#lineNine {
    font-family: 'Gloria Hallelujah', cursive;
}

#lineTen {}

#lineEleven {
    filter: blur(1px);
    font-size: 20px;
}

#lineTwelve {
    filter: blur(1.2px);
    font-size: 28px;
}

#lineThirteen {
    filter: blur(1.5px);
    font-size: 34px;
}

#lineFourteen {
    filter: blur(2px);
    font-size: 30px;
}

#lineFifteen {
    font-size: 27px;
    filter: blur(2.5px);
}
