* {
    padding: 0px;
    margin: 0px;
}

body { background-image: url(https://thumbs.gfycat.com/NeglectedAdventurousHoiho-size_restricted.gif)
  
}

.tweetone {  
    background-color: white; 
    width: 300px;
    height: 160px;
    margin: 0;
    top: 50%;
    left: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);
      animation-name: blue;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse; 
    animation-timing-function: ease-in-out;
  
    
    

}

.tweet {margin: 0;
    top: 50%;
    left: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);}

.nextpage {
width: 50px; 
position: absolute;
  bottom: 8px;
  right: 100px;}

.home {
width: 50px; 
position: absolute;
  top: 8px;
  left: 10px;}

.prev {
width: 50px; 
position: absolute;
  bottom: 8px;
  left: 10px;}

@keyframes blue {
    0% {
        color: white;
    }
    100% {
        color: skyblue;
    }
}

@keyframes boxroll {     0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(180deg);}