.nextpage {
width: 50px; 
position: absolute;
  bottom: 8px;
  right: 100px;}

.home {
width: 50px; 
position: absolute;
  top: 8px;
  left: 10px;}

.prev {
width: 50px; 
position: absolute;
  bottom: 8px;
  left: 10px;}

body {
background-image:url(../../../../assets/imgs/window.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    align-content: flex-end;}

.tweetfour { margin: 0;
    top: 40%;
    left: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);
font-size: 40px;
color:rosybrown;
 font-feature-settings: bold;
width:600px;
   text-align:center;
    animation-name: lost;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;}

@keyframes lost {
    0% {
        letter-spacing: normal;
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        letter-spacing: 12px;
    }
}

