html{
    box-sizing: border-box;
}


body {
    background-color: lightgray;
 
}

#image{
    width:500px;
    display:block;
}

/*COMPLETE THE CSS BELOW*/

/*Hint: only add one property to .container*/
.container{  width:122px;
    height:200px;
    display: inline-block;
        
    

}

.green{background-color: darkseagreen;
     width:126px;
    height:30px;
    
   
}

.blue{ width:126px;
    height:30px;
    background-color: darkslateblue;
}

.pink{width:126px;
    height:30px;
    background-color: pink;
        
    
}

.orange{  width:126px;
    height:30px;
    background-color: coral;
    
}

.yellow{ width:126px;
    height:30px;
    background-color: goldenrod;
    
    
}

.red{
    width:126px;
    height:30px;
    background-color: firebrick;
}

.gold {
    width:126px;
    height:30px;
    background-color: darkgoldenrod;
    
}
.bluetwo{width:126px;
    height:30px;
    background-color: darkblue;}
